* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colorCirculos: rgb(0, 0, 0);
    --colorBoton: rgb(88, 88, 87);
    --coloFondosGris: rgb(177, 173, 173);
}

body {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
}

.titulo {
    margin-left: 30%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    height: 60px;
    align-items: center;
    margin-bottom: -30px;
}

#titulo {
    text-align: center;
    margin-top: 20px;
    height: 60px;
    margin-bottom: -30px;
}

.botonCrearConsejo {
    display: flex;
    margin-left: 300px;
    align-items: center;
}

.botonCrearConsejo button {
    height: 40px;
    width: 120px;
    background-color: gray;
    border: 0px;
    color: white;
    border-radius: 5px;
}

.titulo h1 {
    color: #000000;
}

.contenedorFlex {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 90vh;
}

.tablaDeConsejos {
    margin-top: 13px;
    background-color: var(--coloFondosGris);
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    width: 90%;
    overflow: auto;
    max-height: 700px;
    height: 80vh;
}

.tablaDeConsejos table tr {
    display: inline-table;
    border-radius: 10px;
    width: 90%;
    height: 40px;
    background-color: rgb(187, 189, 189);
    margin-top: 20px;
    margin-bottom: 15px;
}

.divTitulo {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    padding-left: 50px;
    margin: 15px;
}

.divContenido {
    text-align: left;
    padding-left: 30px;
    margin-bottom: 20px;
    padding-right: 30px;
}

.botonAcciones {
    border: 0px;
    background-color: var(--colorBoton);
    border-radius: 5px;
    color: white;
    height: 33px;
    width: 100px;
    margin-top: 10px;
}

.divBotones {
    display: flex;
    flex-direction: column;
    width: 120px;
}

.tdBotones {
    display: flex;
    justify-content: end;
    align-items: end;
}

.oculto {
    display: none;
}

.mostar {
    display: flex;
    flex-direction: column;
}

.ventanaConsejo {
    display: none;
    text-align: center;
    z-index: 20;
    padding: 25px;
    background-color: #ffffff;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 40px;
    left: calc(50% - 175px);
    position: absolute;
}

#tituloVentana {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
}

.ventanaConsejo input {
    color: black;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    background-color: var(--coloFondosGris);
}

.ventanaConsejo textarea {
    color: black;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    background-color: var(--coloFondosGris);
    max-height: 180px;
    max-width: 100%;
    min-width: 100%;
    min-height: 100px;
}

.textoEnVentana {
    display: block;
    margin-top: 40px;
    margin-bottom: 30px;
}

.botones {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.botones button {
    height: 40px;
    width: 120px;
    background-color: var(--colorBoton);
    border: 0px;
    color: white;
    border-radius: 5px;
}